.mode-switch {
    --_--mode-switch-on-color: var(--g-gray-700);
    --_--mode-switch-off-color: var(--g-gray-300); 
    --_--mode-switch-toggler-color: var(--g-white); 

    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;

    &_theme_dark {
        --_--mode-switch-on-color: var(--g-white);
        --_--mode-switch-toggler-color: var(--g-gray-700);
    }

    & .mode-switch__toggler {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__toggler:checked + .mode-switch__slider {
        background-color: var(--_--mode-switch-on-color);
    }

    &__toggler:focus + .mode-switch__slider {
        box-shadow: 0 0 1px var(--_--mode-switch-on-color);
    }

    &__toggler:checked + .mode-switch__slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--_--mode-switch-off-color);
        transition: 0.4s;

        &::before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 4px;
            bottom: 4px;
            background-color: var(--_--mode-switch-toggler-color);
            transition: 0.4s;
        }

        &_rounded {
            border-radius: calc(var(--g-border-radius-xl) * 2);

            &::before {
                border-radius: 50%;
            }
        }
    }
}
