@forward "./common/typography.scss";
@forward "./common/spacing.scss";

$g-border-radius-xs: 3px;
$g-border-radius-s: 5px;
$g-border-radius-m: 6px;
$g-border-radius-l: 8px;
$g-border-radius-xl: 10px;
