@forward "./common/typography.scss";
@forward "./common/spacing.scss";

$g-border-radius-xs: 3px;
$g-border-radius-s: 5px;
$g-border-radius-m: 6px;
$g-border-radius-l: 8px;
$g-border-radius-xl: 10px;

$g-gray-100: rgb(239, 239, 239);
$g-gray-300: rgb(204, 204, 204);
$g-gray-700: rgb(68, 67, 82);
$g-white: rgb(255, 255, 255);
