.color-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--g-spacing-4);

    &__color-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--g-spacing-3);
        padding: var(--g-spacing-3) var(--g-spacing-2);
    }
}
