.avatar {
    --_--size: 32px;
    --_--background-color: rgb(96 128 156 / 40%);
    --_--color: rgb(255 255 255);
    --_--font-size: var(--g-text-body-1-font-size);
    --_--line-height: var(--g-text-body-1-line-height);

    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--_--size);
    height: var(--_--size);
    border-radius: 50%;
    background-color: var(--_--background-color);

    &__icon {
        color: var(--_--color);

        & > svg {
            display: block;
        }
    }

    &__text {
        color: var(--_--color);
        font-size: var(--_--font-size);
        line-height: var(--_--line-height);
        font-weight: 500;
    }

    &_size {
        &_s {
            --_--size: 28px;
            --_--font-size: var(--g-text-caption-1-font-size);
            --_--line-height: var(--g-text-caption-1-line-height);
        }

        &_m {
            --_--size: 32px;
        }

        &_l {
            --_--size: 42px;
        }

        &_m,
        &_l {
            --_--font-size: var(--g-text-body-1-font-size);
            --_--line-height: var(--g-text-body-1-line-height);
        }
    }
}
